@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #3A4E6A; /* Azul acinzentado */
    --cor-secundaria: #5C7080; /* Tom de cinza mais suave */
    --cor-destaque: #A7B0C2; /* Azul mais claro */
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-color: #f7f8fa;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-destaque);
}

footer {
    background-color: #e2e6ea;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque);
}
